{% extends "baseback.html.twig" %}
{% block body %}
<div class="container mt-4">
    <h2 class="text-info">Bienvenue dans l'administration</h2>
    <p class="text-muted">Utilisez le menu pour gérer les formations, playlists et catégories.</p>
</div>
{% endblock %}